@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif;
}

html { 
  width: 100%;
  height: 100vh;
  background-image: url(../images/wallpaller.jpg);
  background-size: cover;
}

.container-section, .alert {
  width: 90%;
  margin: 3rem auto;
  padding: 50px;
  border-radius: 3px;
  background-image: radial-gradient(circle at 0% 0%, #174d88 0, #00356D 16.67%, #005555 33.33%);
  box-shadow: 7px 9px 5px -2px rgb(63, 63, 63);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.input {
  width: 100%;
}

.input__input {
  outline: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 3px solid #00356D;
  border-radius: 4px;
  font-size: 17px;
  transition: 0.5s;
}

.input__input:focus {
  border: 3px solid rgb(145, 143, 143);  
}

.input__title {
  color: #fff;
  font-size: 19px;
  margin-bottom: 1rem;
}
.alert__title, .alert__content {
  color: #fff;
}

.button {
  border: 3px solid;
  margin: 1rem 0;
  padding: 10px 15px;
  font-size: 18px;
  color: rgb(20, 20, 20);
  background-color: #cee0e0;
  transition: .5s;
  border: 3px solid #00356D;
}

.button--right {
  margin-left: 90%;
}

.button:hover {
  border: 3px #cee0e0 solid;
  color: #cee0e0;
  background-color: #005555;
  cursor: pointer;
}


.game-create-form {
  margin-bottom: 1rem;
}

.car {
  position: relative;
}

.car__image-track {
  width: 100%;
}

.car__image-track img {
  width: 100%;
  border-radius: 15px;
  background-size: cover;
}

.car__image-car {
  position: absolute;
  width: 170px;
  top: 0;
  right: 89%;
}
.car__image-car img {
  width: 100%;
}